@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	transition-duration: 0.4s;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}
